<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weekly News Aggregator</title>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script> -->
        <!-- <script src="../app.js"></script> -->
    </head>
    <body>
        <h1>Hello</h1>
        <!-- <div id="body-app"></div> -->
        <!-- <script src="../routes/index.js"></script> -->
    </body>
</html>
